body {
  margin: 0;
}

html {
  font-size: 10px;
}

p {
  margin: 0;
}

textarea {
  width: 50rem;
  height: 30rem;
  margin: 5rem;
  position: absolute;
}

.keyboard {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  background: #004134;
  user-select: none;
}

.keyboard__buttons {
  text-align: center;
}

button {
  margin: 0.2%;
  width: 5%;
  height: 5rem;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  >:first-child {
    position: absolute;
    top: 0;
  }
}

.keyboard__backspace {
  width: 12%;
}

.keyboard__tab {
  width: 7%;
}

.keyboard__del {
  width: 6%;
}

.keyboard__shift,
.keyboard__caps {
  width: 12%;
}

.keyboard__enter {
  width: 10%;
}

.keyboard__space {
  width: 36%;
}

.keyboard__ctrl {
  width: 8%;
}

.hidden {
  display: none;
}

.inf {
  font-size: 2rem;
}